Button
{
    -fx-background-color: transparent;
    -fx-font-family: Georgia, 'Times New Roman', Times, serif;
}

AnchorPane
{
    -fx-background: linear-gradient(to bottom, #82E0AA, transparent);
}

#red
{
    color:  #c0392b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: deepskyblue;
    border-radius: 5px;
}

#orange
{
    color:   #f39c12;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: deepskyblue;
    border-radius: 5px;
}

#yellow
{
    color:   #f4d03f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: deepskyblue;
    border-radius: 5px;
}

#green
{
    color:   #2ecc71;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: deepskyblue;
    border-radius: 5px;
}

#blue
{
    color:   #3498db;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: deepskyblue;
    border-radius: 5px;
}



